In [1]:
import pandas as pd

In [21]:
data = pd.read_csv('gsf_prices.csv')
print(data.shape)
data.head()

(3420, 7)

,Date,Car,Year,Price,Mileage,Location,URL
0,01/07/21,Lexus GS F Sport Hybrid 450h F Sport Hybrid,2018,"$56,995",NaN,"San Ramon, CA, USA(1815 mi. from 60004)",https://rover.ebay.com/rover/1/711-53200-19255...
1,01/07/21,Lexus GS F F F Used 5L V8 32V Automatic RWD Se...,2016,"$52,998",NaN,"Webster, TX, USA(960 mi. from 60004)",https://rover.ebay.com/rover/1/711-53200-19255...
2,01/07/21,Lexus GS F,2020,"$69,900","8,366 mi.","Westmont, IL(21 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8278...
3,01/07/21,Lexus GS F,2020,"$73,488","4,603 mi.","Milwaukee, WI(67 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8250...
4,01/07/21,Lexus GS F,2016,"$49,750","32,739 mi.","Creve Coeur, MO(267 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8336...

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3420 entries, 0 to 3419
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      3420 non-null   object
 1   Car       3420 non-null   object
 2   Year      3420 non-null   object
 3   Price     3302 non-null   object
 4   Mileage   2774 non-null   object
 5   Location  3420 non-null   object
 6   URL       3420 non-null   object
dtypes: object(7)
memory usage: 187.2+ KB

In [12]:
# pull out the non-"GS F" entries (i.e. the F-Sport trims)
data = data[data["Car"].str.contains("Sport") == False]
print(data.shape)
data.head()

(3293, 7)

,Date,Car,Year,Price,Mileage,Location,URL
1,01/07/21,Lexus GS F F F Used 5L V8 32V Automatic RWD Se...,2016,"$52,998",NaN,"Webster, TX, USA(960 mi. from 60004)",https://rover.ebay.com/rover/1/711-53200-19255...
2,01/07/21,Lexus GS F,2020,"$69,900","8,366 mi.","Westmont, IL(21 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8278...
3,01/07/21,Lexus GS F,2020,"$73,488","4,603 mi.","Milwaukee, WI(67 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8250...
4,01/07/21,Lexus GS F,2016,"$49,750","32,739 mi.","Creve Coeur, MO(267 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8336...
5,01/07/21,Lexus GS F,2016,"$39,776","104,487 mi.","Clarksville, IN(286 mi. from 60004)",https://www.cars.com/vehicledetail/detail/8331...

In [20]:
# store price as integer
data["Price"] = data["Price"].replace('$', '')
data.head()

TypeError: 'NoneType' object is not subscriptable